.about-m10 {
    margin-top: 67px;
    display: flex;
    align-items: center;
    padding-inline: 217px;
    gap: 21px;
}

.about-m10 .img-about-m10 img {
    width: 350px;
    height: auto;
}

.about-m10 .text-about-m10 {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.about-m10 .text-about-m10 .title {
    text-align: center;

}

.about-m10 .text-about-m10 .title h4 {
    font-weight: 600;
    font-size: 30px;
}

.about-m10 .text-about-m10 .paragraph p {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 767px) and (max-width: 991px){
    .about-m10 {
        flex-direction: column;
        padding-inline: 100px;
    }

    .about-m10 .img-about-m10 img {
        width: 350px;
        height: auto;
    }
    
    
}

@media screen and (max-width: 480px){
    .about-m10 {
        margin-top: 0;
        padding: 20px 12px;
        flex-direction: column;
    }

    .about-m10 .img-about-m10 img {
        width: 200px;
        height: auto;
    }

    .about-m10 .text-about-m10 .title h4 {
        font-size: 20px;
    }

    .about-m10 .text-about-m10 .paragraph p {
        font-size: 14px;
    }

    .about-m10 .text-about-m10 {
        gap: 22px;
    }
}