.about-me {
    margin-top: 67px;
    display: flex;
    align-items: center;
    padding-inline: 217px;
    gap: 21px;
}

.about-me .img-about-me img {
    width: 350px;
    height: 480px;
    border-radius: 100px;
}

.about-me .text-about-me {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.about-me .text-about-me .title {
    text-align: center;

}

.about-me .text-about-me .title h4 {
    font-weight: 600;
    font-size: 30px;
}

.about-me .text-about-me .paragraph p {
    font-size: 16px;
    font-weight: 400;
}

@media screen and (min-width: 767px) and (max-width: 991px){
    .about-me {
        flex-direction: column;
        padding-inline: 100px;
        margin-top: 37px;
    }

    .about-m10 .img-about-me img {
        width: 250px;
        height: 380px;
    }
    
    
}

@media screen and (max-width: 480px){
    .about-me {
        margin-top: 0;
        padding: 20px 12px;
        flex-direction: column;
    }

    .about-me .img-about-me img {
        width: 200px;
        height: auto;
    }

    .about-me .text-about-me .title h4 {
        font-size: 20px;
    }

    .about-me .text-about-me .paragraph p {
        font-size: 14px;
    }

    .about-me .text-about-me {
        gap: 22px;
    }
}