.about-m10 {
    margin-top: 67px;
    display: flex;
    align-items: center;
    padding-inline: 217px;
    gap: 21px;
}

.about-m10 .img-about-m10 img {
    width: 450px;
    height: auto;
}

.about-m10 .text-about-m10 {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.about-m10 .text-about-m10 .title {
    text-align: center;

}

.about-m10 .text-about-m10 .title h4 {
    font-weight: 600;
    font-size: 30px;
}

.about-m10 .text-about-m10 .paragraph p {
    font-size: 16px;
    font-weight: 400;
}