footer {
    margin-top: 50px;
    padding: 60px 150px;
    display: flex;
    gap: 181px;
    justify-content: space-between;
    background-color: var(--color-primary);
}

footer .name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .name h5 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 4px;
    color: white;
}

footer .name .links-name {
    display: flex;
    gap: 15px;
    
}

.infos {
    display: flex;
    gap: 100px;
}

.infos .saiba-mais{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.infos .saiba-mais h3{
    font-weight: 600;
    font-size: 16px;
}

.infos .saiba-mais .links-saiba-mais {
    display: flex;
    flex-direction: column;
}

.infos .saiba-mais .links-saiba-mais a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.infos .saiba-mais .links-saiba-mais a:hover{
    color: black;
    transition: 0.2s ease-in-out;
}

.infos .saiba-mais .links-saiba-mais p{
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.infos .saiba-mais .links-saiba-mais p span{
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.detail {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
}

.detail a {
    color: yellow;
}

@media screen and (min-width: 767px) and (max-width: 991px){
    
    footer {
        flex-direction: column;
        gap: 30px;
        padding: 40px;
    }

    footer .name h5 {
        font-size: 30px;
        
    }

    footer .links-name a img {
        width: 22px;
        height: 22px;
    }
    
}

@media screen and (max-width: 480px){
    footer {
        margin-top: 20px;
        flex-direction: column;
        gap: 20px;
        padding: 10px 10px;
        
    }

    footer .name h5 {
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 4px;
        color: white;
    }

    footer .name .links-name {
        gap: 10px;
    }

    .infos .saiba-mais .links-saiba-mais {
        gap: 6px;
    }

    .infos {
        gap: 10px;
    }

    footer .name .links-name a img{
        width: 25px;
        height: auto;
    }

    footer .infos .saiba-mais h3{
        font-size: 12px;
    }

    footer .infos .saiba-mais .links-saiba-mais a{
        font-size: 12px;
    }

    footer .infos .saiba-mais .links-saiba-mais p {
        font-size: 12px;
    }

    footer .infos .saiba-mais .links-saiba-mais p span{
        font-size: 12px;
    }

    .detail p {
        font-size: 12px;
    }
}

