* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

body, html {
    overflow-x: hidden;
    
}

html {
    scroll-behavior: smooth;

}



:root {
    --color-primary: #0084FF;
    --color-discount: #FFD600;
}

.carrinho {
    cursor: pointer;
}

.carrinho img{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 90px;
    right: 40px;
}

.whatsapp {
    cursor: pointer;
}

.whatsapp img{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 30px;
    right: 40px;
}


@media screen and (max-width: 480px){
    .carrinho img{
        width: 30px;
        height: auto;
        right: 20px;
    }

    .whatsapp img {
        width: 30px;
        height: auto;
        right: 20px;

    }
}
