header {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary);
    color: white;

    & p {
        font-size: 16px;
        font-weight: 600;
    }
    
    & span {
        color: var(--color-discount);
    }
}

@media screen and (min-width: 767px) and (max-width: 991px){
    header p {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px;
    }

    header p {
        font-size: 10px;
        text-align: center;
    }
}