main {
    height: 500px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease-in-out;
}

@media screen and (min-width: 767px) and (max-width: 991px){
    main {
        background-size: contain;
        height: 280px;
    }
    
    
}

@media screen and (max-width: 480px){
    main {
        height: 160px;
    }
}