nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 9px 102px;

    & .links-nav {
        display: flex;
        gap: 20px;
    }

    & .links-nav a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 400;
        transition: color 0.2s ease-in-out;
    }

    & .links-nav a:hover {
        color: var(--color-primary);
    }

    & .button-contact-nav button {
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        cursor: pointer;

        color: white;
        background-color: var(--color-primary);

        transition: opacity 0.2s ease-in-out;
    }

    & .button-contact-nav button:hover {
        opacity: 0.8;
    }

    & #openMenu {
        display: none;
    }

    & #closeMenu {
        display: block;
        position: fixed;
        top: 40px;
        right: 40px;
    }

    & #mobileMenu {
        display: none;
        flex-direction: column;
        background-color: #4b4be6;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1001;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    & .links-mobile-list a{
        text-decoration: none;
        color: white;
        font-size: 18px;
    }
}







@media screen and (min-width: 767px) and (max-width: 991px){

    nav {
        padding: 9px 55px;
    }

    nav .logo-nav img {
        width: 50px;
        height: auto;
    }

    nav .links-nav a {
        font-size: 14px;
    }

    nav .button-contact-nav button {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    nav {
        padding: 9px 35px;
    }

    nav .logo-nav img{
        width: 45px;
    }

    nav .links-nav {
        display: none;
    }

    nav .button-contact-nav {
        display: none;
    }

    nav #openMenu{
        display: block;
    }

    nav #openMenu img {
        width: 40px;
    }
    
    
}