.produtos {
    padding: 67px 91px 0px 91px;
  }

  .produtos h2 {
    font-weight: 600;
    font-size: 30px;
  }
  
  .container-produtos {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .lista-produtos {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px;
    max-width: 90vw;
  }
  
  .produto {
    max-width: 238px;
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
  }

  .produto h3 {
    font-weight: 300;
    font-size: 12px;
  }

  .radio input[type="radio"] {
    display: none;
  }
  
  .custom-radio {
    width: 17px;
    height: 17px;
    margin: 4px;
    border: 0 !important;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #333;
  }
  
  .radio.vermelho .custom-radio { background-color: red; }
  .radio.azul .custom-radio { background-color: blue; }
  .radio.preto .custom-radio { background-color: black; }
  .radio.amarelo .custom-radio { background-color: yellow; }

  .radio input[type="radio"]:checked + .custom-radio {
    transform: scale(1.3); /* aumenta a bolinha */
    box-shadow: 0 0 0 3px #4444;
  }
  
  .produto p {
    font-weight: 500;
    font-size: 16px;
  }

  .produto p:nth-child(5) {
    font-weight: 400;
    font-size: 12px;
  }

  .produto p span:nth-child(1) {
    font-weight: 600;
    font-size: 12px;
    color: red;
  }

  .produto button {
    border: none;
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: opacity 0.2s ease-in-out;
  }

  .produto button:hover {
    opacity: 0.8;
  }

  .seta {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
  }

  .seta img:hover {
    width: 48px;
    height: auto;
  }
  
  .esquerda {
    margin-right: -10px;
  }
  
  .direita {
    margin-left: -10px;
  }