.main-container {
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    
}

.title h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;


}

.produtos {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-top: 60px;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    max-width: 330px;
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
    background-color: #e4e1e1;

}

.produto h3 {
    font-weight: 300;
    font-size: 12px;
    font-family: "Poppins", sans-serif;

  }

  .produto img {
    width: 300px;
    height: 300px;
  }

  .radio input[type="radio"] {
    display: none;
  }
  
  .custom-radio {
    width: 17px;
    height: 17px;
    margin: 4px;
    /* border: 0 !important; */
    border-radius: 50%;
    display: inline-block;
  }
  
  .radio.prata .custom-radio { 
    cursor: pointer;
    background-color: #C0C0C0; 
  }
  .radio.azul .custom-radio { 
    cursor: pointer;
    background-color: blue; 
  }
  .radio.preto .custom-radio { 
    cursor: pointer;
    background-color: black; 
  }
  .radio.rosa .custom-radio { 
    cursor: pointer;
    background-color: #fd89fdd8; 
  }

  .radio.dourado .custom-radio { 
    cursor: pointer;
    background-color: #efb810; 
  }

  .radio.verde .custom-radio { 
    cursor: pointer;
    background-color: #00881d; 
  }

  .radio.branco .custom-radio { 
    cursor: pointer;
    background-color: white;
  }

  .radio.amarelo .custom-radio { 
    cursor: pointer;
    background-color: #fbff00;
  }

  .radio.cinza .custom-radio { 
    cursor: pointer;
    background-color: #808080;
  }

  .radio.laranja .custom-radio { 
    cursor: pointer;
    background-color: #FFA500
  }

  .radio.azul-marinho .custom-radio { 
    cursor: pointer;
    background-color: #120a8f;
  }

  

  .radio input[type="radio"]:checked + .custom-radio {
    transform: scale(1.3); /* aumenta a bolinha */
    box-shadow: 0 0 0 3px #444;
  }
  
  .produto p {
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  .produto p:nth-child(5) {
    font-weight: 400;
    font-size: 12px;
  }

  .produto p span:nth-child(1) {
    font-weight: 600;
    font-size: 12px;
    color: red;
    font-family: ("Poppins", sans-serif);
  }

  .produto button {
    border: none;
    background-color: #0084FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: opacity 0.2s ease-in-out;
  }

  .produto button:hover {
    opacity: 0.8;
  }

  .image-ver-mais-smart img{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 120px;
    right: 40px;
  }

  .produto h3 strong {
    font-size: 14px;
    font-weight: 600;
  }

  .produtos .whatsapp {
    cursor: pointer;
  }

  .produtos .whatsapp img{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 40px;
    right: 40px;
  }


  @media screen and (min-width: 767px) and (max-width: 991px){
    .main-container .title h1 {
      font-size: 25px;
    }

    
  }


  @media screen and (max-width: 480px){
    #abrirCarrinho img{
      width: 30px;
      height: auto;
      right: 30px;
    }

    #whatsapp img {
      width: 30px;
      height: auto;
      right: 30px;

    }
  }
