.main-container {
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    
}

.title h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;


}

.produtos {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin-top: 60px;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produto {
    max-width: 330px;
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
}

.produto h3 {
    font-weight: 300;
    font-size: 12px;
    font-family: "Poppins", sans-serif;

  }

  .produto img {
    width: 300px;
    height: auto;
  }

  .radio input[type="radio"] {
    display: none;
  }
  
  .custom-radio {
    width: 17px;
    height: 17px;
    margin: 4px;
    border: 0 !important;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #333;
  }
  
  .radio.vermelho .custom-radio { background-color: red; }
  .radio.azul .custom-radio { background-color: blue; }
  .radio.preto .custom-radio { background-color: black; }
  .radio.amarelo .custom-radio { background-color: yellow; }

  .radio input[type="radio"]:checked + .custom-radio {
    transform: scale(1.3); /* aumenta a bolinha */
    box-shadow: 0 0 0 3px #4444;
  }
  
  .produto p {
    font-weight: 500;
    font-size: 16px;
  }

  .produto p:nth-child(5) {
    font-weight: 400;
    font-size: 12px;
  }

  .produto p span:nth-child(1) {
    font-weight: 600;
    font-size: 12px;
    color: red;
  }

  .produto button {
    border: none;
    background-color: #0084FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: opacity 0.2s ease-in-out;
  }

  .produto button:hover {
    opacity: 0.8;
  }

  .image-ver-mais-smart img{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 120px;
    right: 40px;
  }

  .produto h3 strong {
    font-size: 14px;
    font-weight: 600;
  }

  .produtos .whatsapp {
    cursor: pointer;
  }

  .produtos .whatsapp img{
    width: 50px;
    height: auto;
    position: fixed;
    bottom: 40px;
    right: 40px;
  }

  @media screen and (min-width: 767px) and (max-width: 991px){
    .main-container .title h1 {
      font-size: 25px;
    }
}

